
</div>
<footer class="bg-light text-center text-lg-start mt-4 shadow-lg">
    <div class="text-center py-3">
        <div class="mb-3">
            <a href="https://www.youtube.com/@BFWSB2010" target="_blank" class="text-dark me-3" style="font-size: 1.5rem; text-decoration: none">
                <i class="bi bi-youtube"></i>
            </a>
            <a href="https://www.instagram.com/bfw_schoemberg/" target="_blank" class="text-dark me-3" style="font-size: 1.5rem; text-decoration: none">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.bfw-schoemberg.de/" target="_blank" class="text-dark" style="font-size: 1.5rem; text-decoration: none">
                <i class="bi bi-globe"></i>
            </a>
        </div>
        <a href="{% url 'shop:impressum' %}" class="btn btn-outline-dark mb-3">Impressum</a>
    </div>
    <div class="text-center py-3">&copy; 2025 Le Metro Shop</div>
</footer>
